body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    font-size: normal;
}
.layout {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
main {
    max-width: 600px;
    margin: 0;
    flex: 1;
}
.map {
    width: 100%;
    height: 500px;
    box-sizing: border-box;
}

#legend {
    position: static;
    margin-top: 10px;
    margin-left: 0;
    background: #c2c8ca;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    padding: 10px 16px;
    z-index: 10;
    min-width: 220px;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    gap: 0 24px;
    font-weight: bold;
    font-size: small;
}

#legend > div {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    flex-basis: calc(50% - 12px);
    max-width: 50%;
    box-sizing: border-box;
}

#legend label {
    cursor: pointer;
}
nav {
    margin: 0 32px 0 0;
    background: #f5f6f7;
    border-radius: 8px;
    padding: 12px 0 12px 0;
    width: 300px;
    flex-shrink: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    gap: 0;
}

nav li {
    display: block;
    margin-bottom: 8px;
}

nav a {
    text-decoration: none;
    color: #1b6097;
    font-weight: bold;
    padding: 4px;
    margin: 0px 8px;
    border-radius: 4px;
    transition: background 0.2s;
    display: block;
}

nav a:hover {
    background: #e0e6ea;
}
